* {
  font-family: 'Lato', sans-serif;
}

.col-sm-9 {
  width:75%;
}
.col-sm-3 {
  padding-right: 0px;
  width:25%;
}

h1, .col-sm-9 h3 {
  color: #747704;
}

footer {
  margin-top: 20px;
}
footer a {
  margin-right: 15px;
  float: right;
}

.text-thin {
  font-weight: 100;
}
.wrap {
  display: flex;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 7vw;
  }
  .col-sm-9 h3 {
    font-size: 4vw;
  }
}